<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:lightgrey; } </style>
	<div class="jumbotron">
		<div align="center">
     <img src='https://istanbulegitimsertifika.com/wp-content/uploads/sertifika-sembol-min.png' width="90" height="90" border='0' alt='xir-sertifika100'/>
		   <h3 style="color:#7289DA">Sertifika Nasıl Alınır?</h3>
		   <p style="color:lightgrey;font-size:15px;">Sertifika botunuzun ve sizin özel olarak Discord sunucumuzda ve sitemizde rol almasını sağlamaktadır. Sertifikalı botlar anasayfada gözükmektedir ve özel olarak botunuza <b>Sertifika</b> simgesi verilir.
      <br><h5 style="color:#7289DA">Sertifika Avantajları</h5>
		 <p style="color:lightgrey;font-size:15px;">- Discord Sunucumuzda  botunuz Sertifikalı Bot rolü. </p>
		 <p style="color:lightgrey;font-size:15px;">- Sitemizde botunuzun profilinde Sertifikalı yazar ve botunuzun profilinde Sertifika ikonu yer alır. </p>
      <br><h5 style="color:#7289DA">Sertifika Şartları ve Başvuru</h5>
		 <p style="color:lightgrey;font-size:15px;">
    Sertifika alabilmek için botunuzun <b>100</b> veya 100'den fazla sunucuda bulunması gerekmektedir. Eğer botunuz bu şartı karşılıyorsa yetkililerimizden birine bildirebilirsiniz.
		</p>
    <br><h4 style="color:#7289DA">Nemesis | Bot List Kurucusu</h4>

<div class="cools">
    <div class="card">
      <div class="yetkilir" ><img src="https://cdn.discordapp.com/attachments/754421857431716094/756177221428969553/gif_baris.gif?size=2048" alt="Emirhan Cem" style="width:100%"></div>
      <div class="yetkili-s">
        <h2 style="color:#ff0101;">Barış Güngör</h2>
        <p class="title">Kurucu</p>
        <p>hyprex#0001</p>
        <p>Sosyal Medya Hesapları:</p>
         <a href="https://instagram.com/brsgngr_" target="_blank">İnstagram</a><br>
         <a href="https://www.youtube.com/channel/UCMWZGfFN51BJJdIyDMUFmeA" target="_blank">Youtube</a><br>
<br>
<br>
         <p><a href="https://discord.gg/k6umXZR" target="_blank" class="iletisim">Discord Sunucusu</a></p>
      </div>
    </div>
  </div>
  </div></div></div>
<style>
/* Three columns side by side */
.cools {
  margin: auto;
  width: 26%;
  margin-bottom: 12px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .cools {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.yetkili-s {
  padding: 0 16px;
}

/* Clear floats */
.yetkili-s::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.iletisim {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.iletisim:hover {
  background-color: #555;
  text-decoration:none;
}
h2 {
font-size:36px;
  }
a:hover {
color:white;
text-decoration:none;
  }
.yetkilir img:hover {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  }

</style>